.hero {
  max-width: 480px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  background-color: var(--bg-header-footer-color);
  background-image: linear-gradient(
      var(--bg-hero-overlay),
      var(--bg-hero-overlay)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    max-height: 400px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    margin-bottom: var(--list-gap);
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.4;
    }
  }
}
