.header-page {
  border-bottom: 1px solid var(--header-border-line);

  &__container {
    @extend %centered-flex;
  }

  &__logo {
    margin-right: 93px;
  }
}

.logo {
  color: var(--accent-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
