.menu-btn {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: var(--title-text-color);

  & .menu-btn__icon-cross {
    display: none;
  }
  &.is-open .menu-btn__icon-cross {
    display: block;
  }
  &.is-open .menu-btn__icon-menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
    transition: transform var(--transition-duration)
      var(--transition-timing-function);
  }
}
