html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 1px solid red;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  font-size: 14px;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  color: var(--primary-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

/* Скрытые заголовки */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--list-gap));
  margin-top: calc(-1 * var(--list-gap));
}
